workflows/ GitHub - clean up workflows folder on github.json
{"updatedAt":"2025-12-02T08:27:43.907Z","createdAt":"2025-12-01T13:34:13.937Z","id":"O8c95n5ztW9Dj1oZ","name":"GitHub - clean up workflows folder on github","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f87101c0-ed34-4ce0-acc4-82e3e38330e5","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KSC-Ticket-Generator","mode":"list","cachedResultName":"KSC-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KSC-Ticket-Generator"},"filePath":"={{ $json.path }}","commitMessage":"clean up by n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[416,0],"id":"ac80e195-380c-4721-88fa-d04367deeabc","name":"Delete a file","webhookId":"76fd104e-5108-43e6-949e-a6a5ebae4c37","credentials":{"githubApi":{"id":"DxdH0OgmTllL2cLM","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KAV-Ticket-Generator","mode":"list","cachedResultName":"KAV-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KAV-Ticket-Generator"},"filePath":"workflows/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[208,0],"id":"8d1f8c7e-51da-4bfe-8b16-d5f751ce4cd6","name":"List files","webhookId":"5537cf9c-526a-4a73-87ab-fb37e559e1bc","credentials":{"githubApi":{"id":"DxdH0OgmTllL2cLM","name":"GitHub account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Delete a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ed5cc61d-cd41-4894-91e0-458468a0e0e0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:34:13.937Z","createdAt":"2025-12-01T13:34:13.937Z","role":"workflow:owner","workflowId":"O8c95n5ztW9Dj1oZ","projectId":"MqHMA4XA0kClklct"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"},{"updatedAt":"2025-10-19T05:20:30.615Z","createdAt":"2025-10-19T05:20:30.615Z","id":"nT4D6iy7qjD7JEAG","name":"GitHub"}]}