workflows/ KTG Step FINAL-A Create Ticket.json
{"updatedAt":"2025-12-16T08:58:10.453Z","createdAt":"2025-12-01T13:34:13.933Z","id":"CEPq1GwB8EbM7SOV","name":"KTG Step FINAL-A Create Ticket","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,592],"id":"1494945d-34df-44d2-85e4-a26c7dfe3de5","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","tableId":"v_ktg_to_ticket","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status_get }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,592],"id":"13847be9-3f06-4ebf-9712-5da9e715badc","name":"Get ingested notifications","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get ingested notifications').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"ticket_number","fieldValue":"={{ $json.TicketNumber }}"},{"fieldId":"ticket_id","fieldValue":"={{ $json.TicketID }}"},{"fieldId":"status","fieldValue":"={{ $('Params').item.json.status_set }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[752,496],"id":"876ffb8c-be43-49dc-bc56-534b66f9e3ca","name":"Update - ticket_created AND ticket_id1","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://otrs.mbr.loc/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"},{"name":"X-OTRS-Header-UserLogin","value":"TEC721"},{"name":"X-OTRS-Header-Password","value":"JwYysZmugRa5AMx9"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\n    \"Ticket\":{\n        \"Title\":\"{{ $('Get ingested notifications').item.json.computer }} - {{ $('Get ingested notifications').item.json.event }}\",\n        \"Queue\":\"{{ $('Params').item.json.queue }}\",\n        \"StateID\": 1 ,\n        \"PriorityID\": 3,\n        \"CustomerUser\":\"PIDB3C3\",\n        \"Type\": \"Incident\"\n    },\n    \"Article\":{\n        \"CommunicationChannel\":\"Email\",\n        \"Subject\":\"{{ $('Get ingested notifications').item.json.event }}\",\n        \"Body\": {{ $('Get ingested notifications').item.json.raw.toJsonString() }},\n        \"ContentType\":\"\",\n        \"Charset\":\"utf-8\",\n        \"MimeType\":\"text/plain\"\n    }\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[528,496],"id":"08b0cd8d-df1f-4133-b67d-924dd41e9380","name":"Ticket Create Request"},{"parameters":{"assignments":{"assignments":[{"id":"7a193a60-f171-4744-af07-72a973a4ba1a","name":"status_get","value":"ingested","type":"string"},{"id":"0081d29a-ce94-4bf5-a761-2c559b25eff1","name":"status_set","value":"ticket_created","type":"string"},{"id":"9fa33f5d-5def-4832-bbc5-cb3c5be00160","name":"queue","value":"MBR-137-Security","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,592],"id":"766f8312-2ff6-473e-bc78-8359cc719fa8","name":"Params"},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,496],"id":"87906cf2-d912-4ec7-8a0d-ac06ed9cf472","name":"Success"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"incident_key","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[304,496],"id":"9471dac8-3eb6-480e-8ee6-f02e913e47ed","name":"Remove Duplicates"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5acee3b8-1840-41f7-b3ba-030b1892421d","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continue"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true},"id":"a169aaa8-2583-4567-9177-90456c2f55fa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Finish"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[80,592],"id":"8249d8c2-4fdd-4064-85ae-921dd016564f","name":"Switch"},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,688],"id":"79e4291c-307c-44aa-9f7f-5f66267e793a","name":"Success1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Params","type":"main","index":0}]]},"Get ingested notifications":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Update - ticket_created AND ticket_id1":{"main":[[{"node":"Success","type":"main","index":0}]]},"Ticket Create Request":{"main":[[{"node":"Update - ticket_created AND ticket_id1","type":"main","index":0}]]},"Params":{"main":[[{"node":"Get ingested notifications","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Ticket Create Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}],[{"node":"Success1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b97a2dd9-76a4-45f3-acf7-a36b77832b18","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:34:13.933Z","createdAt":"2025-12-01T13:34:13.933Z","role":"workflow:owner","workflowId":"CEPq1GwB8EbM7SOV","projectId":"MqHMA4XA0kClklct"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"}]}