workflows/ KTG Step FINAL-A Create Ticket.json
{"updatedAt":"2025-12-12T10:28:14.750Z","createdAt":"2025-12-01T13:34:13.933Z","id":"CEPq1GwB8EbM7SOV","name":"KTG Step FINAL-A Create Ticket","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,496],"id":"1494945d-34df-44d2-85e4-a26c7dfe3de5","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","tableId":"ktg_main","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status_get }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-176,496],"id":"13847be9-3f06-4ebf-9712-5da9e715badc","name":"Get ingested notifications","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"edc1e6aa-6db1-49fa-859b-6aff11ffa7f1","name":"incident_key","value":"={{ $json.incident_key }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,384],"id":"dd9055c4-8dc5-421c-bf0a-cd2572ef6658","name":"Get incident_key of the new incoming row"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true},"id":"4905b544-152f-4503-aba2-6e59c23dba36"}],"combinator":"and"},"renameOutput":true,"outputKey":"Increase Call Counter"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"baa15b26-40d3-4407-93c5-324a3c3c2c92","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Create New Ticket"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[768,384],"id":"2d83875c-0bae-4716-ab4b-61504d7bd271","name":"Switch1"},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,336],"id":"ed1e4b23-a397-4434-9869-551c6977a77f","name":"Success1"},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get ingested notifications').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"ticket_number","fieldValue":"={{ $json.TicketNumber }}"},{"fieldId":"ticket_id","fieldValue":"={{ $json.TicketID }}"},{"fieldId":"status","fieldValue":"={{ $('Params').item.json.status_set }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1280,656],"id":"876ffb8c-be43-49dc-bc56-534b66f9e3ca","name":"Update - ticket_created AND ticket_id1","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://otrs.mbr.loc/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"},{"name":"X-OTRS-Header-UserLogin","value":"TEC721"},{"name":"X-OTRS-Header-Password","value":"JwYysZmugRa5AMx9"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\n    \"Ticket\":{\n        \"Title\":\"{{ $('Get ingested notifications').item.json.computer }} - {{ $('Get ingested notifications').item.json.event }}\",\n        \"Queue\":\"MBR-137-InfoSec\",\n        \"StateID\": 1 ,\n        \"PriorityID\": 3,\n        \"CustomerUser\":\"PIDB3C3\",\n        \"Type\": \"Incident\"\n    },\n    \"Article\":{\n        \"CommunicationChannel\":\"Email\",\n        \"Subject\":\"{{ $('Get ingested notifications').item.json.event }}\",\n        \"Body\": {{ $('Get ingested notifications').item.json.raw.toJsonString() }},\n        \"ContentType\":\"\",\n        \"Charset\":\"utf-8\",\n        \"MimeType\":\"text/plain\"\n    }\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1024,656],"id":"08b0cd8d-df1f-4133-b67d-924dd41e9380","name":"Ticket Create Request"},{"parameters":{"assignments":{"assignments":[{"id":"7a193a60-f171-4744-af07-72a973a4ba1a","name":"status_get","value":"ingested","type":"string"},{"id":"0081d29a-ce94-4bf5-a761-2c559b25eff1","name":"status_set","value":"ticket_created","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,496],"id":"766f8312-2ff6-473e-bc78-8359cc719fa8","name":"Params"},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,656],"id":"87906cf2-d912-4ec7-8a0d-ac06ed9cf472","name":"Success"},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,640],"id":"3adae79f-9c4f-4fd5-8615-12c69a2dba80","name":"Success2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e09c11a6-a02d-4ba5-83f5-0fe65cdab25f","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Proceed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true},"id":"32d7b183-57cd-4d17-83f0-4156e2573f5a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Finish"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[32,496],"id":"08e2b3aa-5df2-453c-97db-84a2f4ce6c04","name":"Check New Notifications"},{"parameters":{"operation":"get","tableId":"ktg_main","filters":{"conditions":[{"keyName":"status","keyValue":"={{ $('Params').item.json.status_set }}"},{"keyName":"incident_key","keyValue":"={{ $json.incident_key }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[576,384],"id":"7ba1f0d1-31fa-46a2-8426-18a35613507d","name":"Get an existing created ticket","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Params","type":"main","index":0}]]},"Get ingested notifications":{"main":[[{"node":"Check New Notifications","type":"main","index":0}]]},"Get incident_key of the new incoming row":{"main":[[{"node":"Get an existing created ticket","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Success1","type":"main","index":0}],[{"node":"Ticket Create Request","type":"main","index":0}]]},"Update - ticket_created AND ticket_id1":{"main":[[{"node":"Success","type":"main","index":0}]]},"Ticket Create Request":{"main":[[{"node":"Update - ticket_created AND ticket_id1","type":"main","index":0}]]},"Params":{"main":[[{"node":"Get ingested notifications","type":"main","index":0}]]},"Check New Notifications":{"main":[[{"node":"Get incident_key of the new incoming row","type":"main","index":0}],[{"node":"Success2","type":"main","index":0}]]},"Get an existing created ticket":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d75ab574-acc8-4270-bf5b-f6b2d1e0444b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:34:13.933Z","createdAt":"2025-12-01T13:34:13.933Z","role":"workflow:owner","workflowId":"CEPq1GwB8EbM7SOV","projectId":"MqHMA4XA0kClklct"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"}]}