workflows/ KTG Step FINAL-A Create Ticket.json
{"updatedAt":"2025-12-01T13:23:51.000Z","createdAt":"2025-12-01T06:09:52.091Z","id":"xT0YVkblL6u6KvMn","name":"KTG Step FINAL-A Create Ticket","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"e731d7ec-0336-4fca-bcb4-828a11085994","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"7a193a60-f171-4744-af07-72a973a4ba1a","name":"status_get","value":"ingested","type":"string"},{"id":"0081d29a-ce94-4bf5-a761-2c559b25eff1","name":"status_set","value":"ticket_created","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"c6634aee-a4f6-46fd-a712-9d8aeb4b79c7","name":"Edit Fields"},{"parameters":{"operation":"getAll","tableId":"ktg_main","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status_get }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,0],"id":"a843ea6f-65a5-4b9b-b9c0-7608c86d90db","name":"Get many rows","credentials":{"supabaseApi":{"id":"RLTxPh4RS7gJmXLz","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://otrs-dev.mbr.loc/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"},{"name":"X-OTRS-Header-UserLogin","value":"TEC721"},{"name":"X-OTRS-Header-Password","value":"JwYysZmugRa5AMx9"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\n    \"Ticket\":{\n        \"Title\":\"{{ $json.computer }} - {{ $json.event }}\",\n        \"Queue\":\"MBR-137-InfoSec\",\n        \"StateID\": 1 ,\n        \"PriorityID\": 3,\n        \"CustomerUser\":\"ikovale\",\n        \"Type\": \"Incident\"\n    },\n    \"Article\":{\n        \"CommunicationChannel\":\"Email\",\n        \"Subject\":\"{{ $json.event }}\",\n        \"Body\": {{ $json.raw.toJsonString() }},\n        \"ContentType\":\"\",\n        \"Charset\":\"utf-8\",\n        \"MimeType\":\"text/plain\"\n    }\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,0],"id":"7b8fc187-262c-4ae2-bd8c-2b67feb2d583","name":"HTTP Request"},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"uuid","condition":"eq","keyValue":"={{ $('Get many rows').item.json.uuid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"ticket_number","fieldValue":"={{ $json.TicketNumber }}"},{"fieldId":"ticket_id","fieldValue":"={{ $json.TicketID }}"},{"fieldId":"status","fieldValue":"={{ $('Edit Fields').item.json.status_set }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,0],"id":"83acab97-321f-44d3-9631-b72677f0894f","name":"Update a row","credentials":{"supabaseApi":{"id":"RLTxPh4RS7gJmXLz","name":"Supabase account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"505debe8-d78d-40cf-8790-f177e8ee0775","triggerCount":0,"shared":[{"updatedAt":"2025-12-01T06:09:52.096Z","createdAt":"2025-12-01T06:09:52.096Z","role":"workflow:owner","workflowId":"xT0YVkblL6u6KvMn","projectId":"oo3cHiujaGSfUTH0"}],"tags":[{"updatedAt":"2025-11-26T06:03:52.564Z","createdAt":"2025-11-26T06:03:52.564Z","id":"zlirkWE9DeT8Di5e","name":"kav-ticket-generator"}]}